<div class="my-modal" ng-hide="isShow">
    <link rel="stylesheet" type="text/css" href="./Assets/angularjs/Components/Widgets/loadingScreen/style.css" />
    <div class="my-backdrop-ls" style="width:100%"></div>
    <div class="preloader-wrapper big active my-preloader-ls1">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
</div>